html {
  height: 100%;
  width: 100%;
}
body {  
  background-image: url("img/cuisine_page-0001.png");
  background-size: cover;
}
.door{
  position: absolute;
  top: 30px ; 
  left: 55px ; 
}
.marmite{
  position: absolute;
  top: 250px;
  left: 90px;
}
.frigo { 
  position: absolute;
  top: 70px;
  left: 1400px;
}
.lea {
  position: absolute;
  top: 150PX;
  left: 1150px;
}
.eye {
  position: absolute;
  top: 10px;
  left: 1800px;
}





















